
downloader/
errors/
includes/
js/
lib/
media/
nbproject/
pkginfo/
shell/
skin/
var/
.htaccess
.htaccess.sample
cron.php
cron.sh
downloader.php
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
magento-downloader-1.7.0.0.zip
package.xml
php.ini.sample
RELEASE_NOTES.txt
app/code/core/
app/locale/
app/code/community/
app/code/community/
app/design/
app/.htaccess
app/etc/
app/Mage.php
/api.php
